pyktok
playwright
opencv-python-headless
numpy
pillow
requests
python-dotenv
google-cloud-vision
googlemaps
pandas
google-generativeai
pytest
pytest-mock
notion-client
flask
gunicorn
google-cloud-storage
google-cloud-secret-manager