pyktok
playwright
opencv-python
easyocr
numpy
pillow
requests
python-dotenv
google-cloud-vision
openai-whisper
googlemaps
pandas
google-generativeai
pytest
pytest-mock
notion-client
flask
gunicorn
google-cloud-storage
google-cloud-secret-manager